/* General styles */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.container {
  background-color: #332b3c;
  width: 100%;
}
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.start {
  font-size: 20px;
  padding: 15px 30px;
  background-color: #f2eef3;
  color: #222;
  border: none;
  border-radius: 8px;
  border: 2px solid #f2eef3;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: #ecdcf2;
}

p {
  text-align: center;
  font-size: large;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #563b5a;
}
/* Sticky header */
thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody tr:nth-child(even) {
  background-color: #342537;
}

tbody tr:nth-child(odd) {
  background-color: #422d48;
}

/* Buttons */
button {
  padding: 6px 12px;
  margin-right: 5px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
}
button.kill {
  background-color: #f25d4d;
  border: 2px solid #f25d4d;
  color: white;
}

button.suspend {
  background-color: #f3c57b;
  border: 2px solid #f3c57b;
  color: white;
}

button.resume {
  background-color: #5be895;
  border: 2px solid #5be895;
  color: white;
}

button:hover {
  border: 2px solid #ab6beb;
}
/*tabs*/
.tabs {
  display: flex;
  background-color: #312939;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color: #e0bbf0;
  border-bottom: 3px solid #ab6beb;
}
